* {
    text-align: center;
    touch-action: manipulation;
}

.card {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 30vw;
    max-width: 200px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.card:hover {
    cursor: pointer;
}

#card-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}